<h1>Agregar Producto</h1>
<hr>
<form [formGroup]="form">
  <div class="mb-3">
    <label class="form-label">Nombre</label>
    <input formControlName="name" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
  </div>
  <div class="mb-3">
    <span customLabel
          [color]="color"
          [errors]="form.get('name')?.errors">
      Some information
    </span>
  </div>
  <button (click)="changeColor()" class="btn btn-primary">Submit</button>
</form>
