<h1>Informacion del usuario: </h1>
<div class="row">
  <div class="col">
    <h3>usuario: {{userId()}}</h3>
    <button (click)="loadUser(userId()-1)" class="btn btn-primary" >Anterior</button>
    <button (click)="loadUser(userId()+1)" class="btn btn-primary" >Siguiente</button>
  </div>
  <div class="col-8" *ngIf="currentUser()">
    <h3>Usuario: </h3>
    <p>Correo: {{currentUser()?.email}}</p>
    <p>Nombre: {{currentUser()?.first_name}}</p>
  </div>
  <div class="col-8">
    <img [src]="currentUser()?.avatar" alt="Avatar">
  </div>
</div>
