<h1>Counter: {{counter()}}</h1>
<h1>SquarCounter: {{squareCounter()}}</h1>
<hr>
<button (click)="increaseBy(1)" class="btn btn-primary" >+1</button>&nbsp;
<button (click)="counter.set(0)" class="btn btn-primary" >Reset</button>&nbsp;
<button (click)="increaseBy(-1)" class="btn btn-primary" >-1</button>&nbsp;

